<div class="card">
  <div class="d-flex justify-content-between align-items-center">
    <h5 class="card-header">Ingredient</h5>
    <div class="action-create mr-3">
      <a class="btn btn-primary color-white" (click)="action()"><i class="bx bx-plus-alt me-1"></i>Create</a>
    </div>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Ingredient Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr *ngFor="let item of ingredient">
          <td>{{item.ingridientName}}</td>
          <td>
            <a class="btn btn-sm btn-primary color-white mr-2" (click)="action(item)" ><i class="bx bx-edit-alt me-1"></i></a>
            <a class="btn btn-sm btn-danger color-white" (click)="confirmDelete(item.id)"><i class="bx bx-trash me-1"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>