.menu-link {
    background-color: transparent !important;
    text-decoration: none;
}

.app-brand .layout-menu-toggle {
    background-color: #696cff !important;
}


.menu-vertical .menu-inner>.menu-item .menu-link {
    margin: 0px 0px 0px 15px;
}

.pointer{
    cursor: pointer;
}